*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    scroll-behavior: smooth;
}

body{
    font-family: 'Open Sans', sans-serif;
}

.contenedor{
    width: 90%;
    max-width: 1200px;
    overflow: hidden;
    margin: auto;
    padding: 60px 0;
}

.header{
    height: 100vh;
    background-image: linear-gradient(to right, rgba(255, 236, 210, 0.5) 0%, rgba(252, 182, 159, 0.5) 100%), url(../img/skyline.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

.head{
    text-align: center;
    padding: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
}

.hamburguer{
    position: fixed;
    top: 30px;
    right: 30px;
    background: white;
    width: 40px;
    height: 40px;
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 0 0 6px rgba(0, 0, 0, .6);
}

.menu-navegacion{
    position: fixed;
    top: 0;
    right: 0;
    width: 30vw;
    height: 100%;
    background-image: linear-gradient(120deg, rgba(246, 212, 101, 0.9) 0%, rgba(253, 159, 133, 0.8) 100%);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    transform: translate(110%);
    box-shadow: 0 0 6px rgba(0, 0, 0, .5);
}

.spread{
    transform: translate(0);
}

.menu-navegacion a{
    color: white;
    text-decoration: none;
}

.titulo{
    font-size: 60px;
    margin-bottom: 15px;
    color: black;
}

.copy{
    font-weight: 300;
    font-size: 25px;
    color: black;
}

.subtitulo{
    text-align: center;
    font-weight: 400;
    color: black;
    margin-bottom: 40px;
    font-size: 40px;
}

/*planifica */

.contenedor-planifica{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.contenedor-planifica img{
    width: 45%;
}

.checklist-planifica{
    width: 45%;
}

.planifica{
    margin-bottom: 20px;
}

.n-planifica{
    margin-bottom: 7px;
    color: black;
}

.number{
    display: inline-block;
    background: linear-gradient(to bottom, rgba(255,255,255,0.15) 0%, rgba(0,0,0,0.15) 100%), radial-gradient(at top center, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.40) 120%) #989898;
    background-blend-mode: multiply,multiply;
    width: 30px;
    height: 30px;
    color: white;
    text-align: center;
    border-radius: 50%;
    font-weight: 700;
    line-height: 30px;
    margin-right: 5px;
}

/* galeria */

.gallery{
    background: rgb(245, 245, 245);
}

.contenedor-galeria{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.img-galeria{
    object-fit: cover;
    width: 30%;
    display: block;
    margin-bottom: 15px;
    box-shadow: 0 0 6px rgba(0, 0, 0, .5);
    cursor: pointer;
}

.imagen-light{
    position: fixed;
    background: rgba(0, 0, 0, .6);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translate(100%);
    transition: transform .2s ease-in-out;
}

.show{
    transform: translate(0);
}

.agregar-imagen{
    object-fit: cover;
    width: 60%;
    border-radius: 10px;
    transform: scale(0);
    transition: transform .3s .2s;
}

.showImage{
    transform: scale(1);
}

.close{
    position: absolute;
    top: 15px;
    right: 15px;
    width: 40px;
    cursor: pointer;
}

/* tickets */

.tic{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.cont-tickets{
    width: 30%;
    text-align: center;
    margin-bottom: 2px;
}

.cont-tickets img{
    width: 80%;
    display: block;
    margin: 0 auto;
}

.n-tickets{
    display: inline-block;
    margin-top: 20px;
    width: 100%;
    font-weight: 400;
}

.ticket-details {
    margin: 10px;
}
  
.ticket-price {
    margin: 10px;
}

.boton{
    text-decoration: none;
    padding: 10px;
    font-weight: 450;
    font-size: 20px;
    color: black;
    background-color: white;
    border-radius: 6px;
    border: 1px solid black;
    text-decoration: none;
    margin: 10px;
    cursor: pointer;
    margin-left: 100px;
}

.boton:hover{
    color: black;
    background-color: rgba(244, 165, 96, 0.3);
}

/* footer */

footer{
    background: rgb(245, 245, 245);
    padding-bottom: 0.1px;
}

.footer-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 60px;
    padding-bottom: 40px;
}

.contact-us{
    width: 40%;
    color: black;
}

.brand{
    font-weight: 500;
    font-size: 40px;
}

.brand+p{
    font-weight: 500;
}

.social-media{
    width: 50%;
    display: flex;
    justify-content: flex-end;
}

.social-media-icon{
    display: inline-block;
    margin-left: 20px;
    width: 60px;
    height: 60px;
    border: 1px solid black;
    border-radius: 50%;
    text-align: center;
    color: black;
}

.social-media-icon:hover{
    background: rgba(244, 165, 96, 0.3);
    color: black;
}

.social-media-icon i{
    font-size: 30px;
    line-height: 60px;
}

.line{
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    height: 2px;
    background: black;
    margin-bottom: 60px;
}

/* Carrito */
.contenedor-carrito{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}


.shopping-cart-items {
    padding: 20px 0px;
}
  
.shopping-cart-header {
    border-bottom: 1px solid #ccc;
}
  
.shopping-cart-image {
    max-width: 80px;
    border-radius: 20px;
}
  
.shopping-cart-quantity-input {
    max-width: 45px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background: #eee;
    padding: 5px;
}
  
.shopping-cart-total {
    min-height: 96px;
}

.item {
    border: 2px solid #000;
    padding: 10px;
    border-radius: 20px;
}
  
.item-title {
    text-transform: uppercase;
    text-align: center;
    font-weight: 600;
}
  
.item-image {
    height: 300px;
    width: 100%;
}
  
.item-details {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0px 15px;
}
  
.item-details > .item-price {
    margin: 0;
}

/* pantalla */

@media screen and (max-width:800px){
    .menu-navegacion{
        width: 50vw;
    }

    .titulo{
        font-size: 40px;
    }

    .contenedor-planifica img{
        width: 80%;
        margin-bottom: 40px;
    }

    .checklist-planifica{
        width: 80%;
    }

    .planifica{
        margin-bottom: 30px;
    }

    .agregar-imagen{
        width: 80%;
    }

    .img-galeria{
        width: 45%;
    }

    .cont-tickets{
        width: 80%;
    }

    .footer-content{
        justify-content: center;
    }

    .social-media{
        width: 80%;
        justify-content: space-evenly;
    }

    .social-media-icon{
        margin-left: 0;
    }

    .social-media i{
        margin-left: 0;
    }

    .contact-us{
        text-align: center;
        width: 80%;
        margin-bottom: 40px;
    }
}

@media screen and (max-width:500px){
    .menu-navegacion{
        width: 65vw;
    }

    .hamburguer{
        top: 20px;
        right: 20px;
    }

    .titulo{
        font-size: 30px;
    }

    .subtitulo{
        font-size: 30px;
    }

    .agregar-imagen{
        width: 95%;
    }

    .img-galeria{
        width: 95%;
    }

    .social-media{
        width: 100%;
    }

    .contact-us{
        width: 90%;
    }
}


